/* Shrinal's requirement to push search bar to right */
.search-box{
  margin-left:auto;
  display:flex;
  align-items:center;
  gap:6px;
}

.search-box input{
  padding:6px 10px;
  border-radius:8px;
  border:1px solid #ccc;
}

.search-box button{
  padding:6px 10px;
  border:none;
  border-radius:8px;
  background:#2e7d32;
  color:white;
  cursor:pointer;
}

.search-box button:hover{
  background:#256628;
}
